package ${packageName}.${methodName}.service;

import java.sql.SQLException;
import java.util.List;
import java.util.Map;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Propagation;
import org.springframework.transaction.annotation.Transactional;

import ${packageName}.${methodName}.dao.I${bizName}Dao;
import ${packageName}.vo.${bizName}VO;

@Service
public class I${bizName}ServiceImpl implements I${bizName}Service {
	@Autowired
	private I${bizName}Dao dao;
	
	@Override
	public ${bizName}VO get${bizName}Info(Map<String, String> params)
			throws SQLException {
		return this.dao.get${bizName}Info(params);
	}

	@Override
	public List<${bizName}VO> get${bizName}List() throws SQLException {
		return this.dao.get${bizName}List();
	}

	@Transactional(rollbackFor={SQLException.class})
	@Override
	public int insert${bizName}Info(${bizName}VO ${methodName}Info) throws SQLException {
		return this.dao.insert${bizName}Info(${methodName}Info);
	}
	@Transactional(rollbackFor={SQLException.class})
	@Override
	public int update${bizName}Info(${bizName}VO ${methodName}Info) throws SQLException {
		return this.dao.update${bizName}Info(${methodName}Info);
	}
	@Transactional(rollbackFor={SQLException.class})
	@Override
	public int delete${bizName}Info(Map<String, String> params) throws SQLException {
		return this.dao.delete${bizName}Info(params);
	}
	
}

