package ${packageName}.dao;

import java.sql.SQLException;
import java.util.List;
import java.util.Map;

import ${packageName}.vo.${bizName}VO; 

public interface I${bizName}Dao {
	public ${bizName}VO get${bizName}Info(Map<String, String> params) throws SQLException;
	public List<${bizName}VO> get${bizName}List() throws SQLException;
	public int insert${bizName}Info(${bizName}VO ${methodName}Info) throws SQLException;
	public int update${bizName}Info(${bizName}VO ${methodName}Info) throws SQLException;
	public int delete${bizName}Info(Map<String, String> params) throws SQLException;
}

